---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}

const post = Astro.props;
const { Content } = await post.render();
---

<Layout
  title={post.data.title}
  description={post.data.description}
  maxWidth="max-w-4xl"
>
  <article>
    {
      post.data.image?.url && (
        <div class="hero-image" style="width:100%;">
          <img
            width={1020}
            height={510}
            src={post.data.image.url}
            alt={post.data.image.alt}
            style="display:block;margin:0 auto;border-radius:12px;box-shadow:var(--box-shadow);"
          />
        </div>
      )
    }
    <div class="prose prose-lg dark:prose-invert">
      <div
        class="title"
        style="margin-bottom:1em;padding:1em 0;text-align:center;line-height:1;"
      >
        <div class="date" style="margin-bottom:0.5em;color:rgb(var(--gray));">
          <FormattedDate date={post.data.pubDate} />
        </div>
        {
          Array.isArray(post.data.tags) && post.data.tags.length > 0 && (
            <div class="tags" style="margin-bottom:1em;text-align:center;">
              {post.data.tags.map((tag) => (
                <span
                  class="tag"
                  style="display:inline-block;background:#eee;color:#333;padding:0.2em 0.7em;border-radius:1em;margin-right:0.5em;font-size:0.95em;"
                >
                  #{tag}
                </span>
              ))}
            </div>
          )
        }
        <h1 style="margin:0 0 0.5em 0;">{post.data.title}</h1>
        <hr />
      </div>
      <Content />
    </div>
  </article>
</Layout>
