---
import Layout from "../layouts/Layout.astro";
import FormattedDate from "../components/FormattedDate.astro";

const title = "About Me";
const description = "A developer who commits like it's a heartbeat.";
const pubDate = new Date("2025-05-09");
const heroImage = "/img/about-me.png";
---

<Layout title={title} description={description}>
  <style>
    .hero-image {
      width: 100%;
      margin-bottom: 1em;
    }
    .hero-image img {
      display: block;
      margin: 0 auto;
      border-radius: 12px;
      box-shadow: var(--box-shadow);
    }
    .title-section {
      margin-bottom: 1em;
      padding: 1em 0;
      text-align: center;
      line-height: 1;
    }
    .title-section h1 {
      margin: 0 0 0.5em 0;
    }
    .date {
      margin-bottom: 0.5em;
      color: rgb(var(--gray));
    }
  </style>
  <article>
    {
      heroImage && (
        <div class="hero-image">
          <img width={1020} height={510} src={heroImage} alt="About me hero" />
        </div>
      )
    }
    <div class="prose prose-lg dark:prose-invert">
      <div class="title-section">
        <h1>{title}</h1>
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
        <hr />
      </div>
      <p>
        With the rise of Large Language Models, I find myself locked in a
        parental power struggle with digital offspring who know everything but
        understand nothing. “Why, GPT, would you nest ternary operators inside a
        switch case? Why.” I argue, they respond, I sigh, we continue.
      </p>
      <p>
        I'm looking to build. To explore. To ship questionable features at 2AM
        and then refactor them at 2:03AM. I am the IT Alien™. I bring commits.
        I bring lint. You bring... snacks?
      </p>
    </div>
  </article>
</Layout>
